body {
    display: grid;
    height: 100vh;
    text-align: center;
    font-family: "Roboto Slab", serif;
    margin: 0;
}

header {
    background-color: #9A031E;
    color: #FFC100;
    padding: 30px;
}

section {
    border-bottom: 2px solid #9A031E;
}

h2 {
    text-decoration: underline;
}

p {
    font-size: 18px;
}

#logo {
    max-width: 100px;
}

h3 {
    background-color: #9A031E;
    color: #FFC100;
    display: inline-block;
    padding: 20px;
}

#yellowbg {
    background-color: #FFC100;
    color: #9A031E;
}

footer {
    background-color: #9A031E;
    color: #FFC100;
}