@media (min-width: 70em) {
    
    header {
        height: 128px;
    }
    
    .navigation {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    main {
        padding-top: 15px;
    }

    .templeGrid {
        grid-template-columns: repeat(3, 500px);
        justify-content: center;
    }
}