body {
  max-width: 800px;
  margin: 0;
  border: 1px solid;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #DDDDDD;
  text-align: center;
  padding: 20px;
}

.form1 {
  background-color: #EEEEEE;
  color: black;
  padding: 20px;
}


.form1 div {
  margin-top: 30px;
}

.form1 label {
  display: block;
}

.form1 input[type="radio"] {
    margin: 8px;
}

.form1 #selectProduct, 
.form1 input[type="date"],
.form1 input[type="text"] {
  padding: 0.75rem;
  width: 100%;
  max-width: 350px;
  border-radius: 6em;
}

.form1 textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

.form1 input[type="submit"] {
  display: block;
  margin-top: 30px;
  border-radius: 6em;
  padding: 0.75rem;
  width: 100%;
  max-width: 300px;
}

footer {
  background-color: #DDDDDD;
  text-align: center;
  padding: 20px;
}
