@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #wEmote {
        display: inline;
    }

    #weatherIcon {
        display: none;
    }

    picture {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .data{
        grid-column: 1;
        grid-row: 1;
        position: relative;
        background-color: #EEEEEE;
        width: 500px;
        height: 300px;
    }

    .weather {
        grid-column: 3;
        grid-row: 2;
        position: relative;
        background-color: #EEEEEE;
        width: 500px;
        height: 300px;
    }
}

