body {
    text-align: center;
}

header {
    background-color: #FCF5ED;
    color: #CE5A67;
    padding: 20px;
    height: 120px;
    font-weight: bolder;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #FFE5CA;
    padding: 20px;
}

nav a {
    text-decoration: none;
}

figure {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
}

img {
    width: 400px;
    height: 250px;
}

figcaption {
    color: #CE5A67;
    font-size: 20px;
    font-weight: bolder;
}

footer {
    background-color: #FCF5ED;
    color: #CE5A67;
    font-weight: bolder;
}