body {
    height: 100vh;
    display: grid;
    text-align: center;
}

header {
    background-color: #FAF8F1;
    color: #C58940;
    padding: 20px;
    height: 120px;
    font-weight: bolder;
    
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #E5BA73;
    padding: 20px;
}

nav a {
    text-decoration: none;
}

figure {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
}

img {
    width: 400px;
    height: 250px;
}

figcaption {
    color: #C58940;
    font-size: 20px;
    font-weight: bolder;
}

footer {
    background-color: #FAF8F1;
    color: #C58940;
    font-weight: bolder;
}