@media (min-width: 60em) {
    #logo {
        float: left;
    }

    header h1 {
        padding: 20px;
    }

    #menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }

    .nav li {
        display: block;
    }

    .nav a {
        border-bottom: none;
    }

    .funGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    img:hover {
        max-width: 460px;
    }

    .uniqueGrid img {
        max-width: 600px;
    }

    .information section{
        position: absolute;
        display: inline-block;
        margin-top: 5rem;
        margin-left: 2rem;
        width: 100%;
        max-width: 500px;
        padding-bottom: 30px;
    }
    
    .heading {
        margin-left: -20px;
    }
}