/* ALL PAGES */

body {
    display: grid;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #9A031E;
}

img {
    width: 100%;
}

/* HOME PAGE */

header {
    background-color: #9A031E;
    color: #FFC100;
}

header h1 {
    padding: 20px;
}

#logo {
    width: 100px;
    float: left;
    margin: 20px;
}

/* NAVIGATION MENU SMALL VIEW*/

#menu {
    display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #FFC100;
	color: #9A031E;
    border: 2px solid; 
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}

.nav {
	list-style: none;
	margin: 0 auto;
    background-color: #FFC100;
}

.nav li {
    display: none;
}

.nav a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #9A031E;
	font-weight: bold;
	transition: 0.5s;
    font-size: 18px;
    margin-right: 40px;
    border-bottom: 2px solid #9A031E;
}

.nav li a:hover {
    background-color: #9A031E;
    color: #FFC100;
}

.show li {
	display: block;
}



/*.nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 15px;
    border-top: 1px solid;
}

.nav li a {
    text-decoration: none;
    color: #FFC100;
    font-size: 18px;
    font-weight: bold;
}*/


footer {
    background-color: #9A031E;
    color: #FFC100;
    font-weight: bold;
}

