/* ALL PAGES */

body {
    display: grid;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: white;
}

img {
    max-width: 450px;
    width: 100%;
}

/* HOME PAGE */

header {
    background-color: white;
    color: #9A031E;
}

#logo {
    width: 100px;
    margin: 20px;
}

#alamoHome {
    max-width: 100%;
    width: 100%;
}

.information section {
    background-color: white;
}

.information ul {
    list-style-type: none;
}

.heading {
    background-color: #9A031E;
    color: white;
    padding: 20px;
}

.title {
    font-weight: bolder;
    font-size: 17px;
    color: #9A031E;
}
/* NAVIGATION MENU SMALL VIEW*/

#menu {
    display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #9A031E;
	color: white;
    border: 2px solid; 
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}

.nav {
	list-style: none;
	margin: 0 auto;
    background-color: #9A031E;
}

.nav li {
    display: none;
}

.nav a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.5s;
    font-size: 20px;
    margin-right: 40px;
    border-bottom: 2px solid white;
}

.nav li a:hover {
    background-color: white;
    color: #9A031E;
}

.show li {
	display: block;
}

/* FUN PAGE */

.funGrid {
    display: grid;
}

h2 {
    color: #9A031E;
}

p {
    color: #9A031E;
    font-size: 18px;
}

section {
    margin: 10px;
    padding: 10px;
    border: 2px solid #9A031E;
}

.label {
    font-weight: bolder;
    text-decoration: underline;
}

.funGrid img {
    border-radius: 50%;
    box-shadow: 3px 3px 10px grey;
}

/* UNIQUE SHOPPING PAGE */

.uniqueGrid img {
    border-radius: 100px;
    box-shadow: 3px 3px 10px grey;
}

/* NEWSLETTER PAGE */
.form1 {
    background-color: #EEEEEE;
    color: black;
    padding: 20px;
    text-align: left;
  }
  
  .form1 div {
    margin-top: 30px;
  }
  
  .form1 label {
    display: block;
  }
   
  .form1 input[type="email"],
  .form1 input[type="text"] {
    padding: 0.75rem;
    width: 100%;
    max-width: 350px;
    border-radius: 6em;
  }
  
  .form1 input[type="submit"] {
    display: block;
    margin-top: 30px;
    border-radius: 6em;
    padding: 0.75rem;
    width: 100%;
    max-width: 300px;
  }

/* FOOTER */

footer {
    background-color: white;
    color: #9A031E;
    font-weight: bold;
}