@media (min-width: 60em) {
    #menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }

    .nav li {
        display: block;
    }

    .nav a {
        border-bottom: none;
    }
    
}