@media (min-width: 60em) {
    #logo {
        float: left;
    }

    header h1 {
        padding: 20px;
    }

    #menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }

    .nav li {
        display: block;
    }

    .nav a {
        border-bottom: none;
    }

    .funGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}